.board-redirections {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;

  & .left-side,
  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      height: 2.5rem;
      width: 2.5rem;
      color: #6c757d;
    }
  }

  & .item {
    margin-left: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;

    &:hover:not(.active-redirection) {
      background-color: #e9ecef;
      cursor: pointer;
    }
  }

  .left-side {
    & li {
      display: flex;
      justify-content: center;
      align-items: center;

      & span {
        margin-left: 0.5rem;
      }
    }
  }
}

.active-redirection {
  /* background-color: #6f42c1; */
  background-color: #6610f2;
  color: white;
}
.active-redirection-svg {
  color: white !important;
}

/* add stage button */
.d-none {
  display: none;
}

.create-stage-button {
  position: relative;
}
.create-stage-form {
  z-index: 1;
  position: absolute;
  border: 1px solid #495057;
  border-radius: 0.4rem;
  right: 3%;
  margin-top: 0.8rem;
  background-color: white;

  & .top {
    background-color: #9b69ea;
    color: white;
    padding: 1rem;
    font-weight: 500;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & svg {
      color: inherit;
      cursor: pointer;
    }
  }

  & .body {
    padding: 1rem;
    border-bottom: 1px solid #ced4da;

    & input[type="text"] {
      padding: 1rem;
      background-color: #f0f0f0;
      border-radius: 100px;
      border: none;
      outline: none;

      &:focus {
      }
    }
  }

  & .footer {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & .btn-submit {
      border: 1px solid #0d6efd;
      border-radius: 0.3rem;
      padding: 0.5rem 2rem;
      color: #0d6efd;

      &:hover {
        background-color: #0d6efd;
        color: white;
      }
    }
  }
}

.create-stage-form-piece {
  position: absolute;
  bottom: -1.4rem;
  height: 1rem;
  width: 1rem;
  padding: 1rem;
  background-color: #9b69ea;
  transform: rotate(45deg);
  z-index: 2;
  border-top: 1px solid #495057;
  border-left: 1px solid #495057;
}

/* CREATE ONE TASK DIALOG */
.create-one-task-dialog {
  border: 1px solid #198754;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(25, 135, 84, 0.3);
  max-width: 750px;
  width: 80%;
  background-color: white;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  overflow-y: hidden;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  & .top {
    background-color: #198754;
    padding: 1.3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 {
      font-size: 2.5rem;
      color: white;
    }

    & svg{
      height: 2.5rem;
      width: 2.5rem;
      color: white;
      cursor: pointer;
    }
  }

  & .form-content {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    padding-bottom: 0;
    padding-top: 1rem;
  }

  & .form-section {
    flex: 1;
  }

  & .form-group {
    margin-bottom: 2rem;
  }

  & label {
    display: inline-block;
    margin-bottom: 0.7rem;
    font-weight: 500;
  }

  & input[type="text"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 1rem 1.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  & input[type="text"]:focus,
  input[type="date"]:focus,
  textarea:focus {
    border-color: #20c997;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  & textarea {
    resize: vertical;
  }

  & .radio-group {
    display: flex;
    gap: 1rem;
  }

  & .radio-group label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  & input[type="radio"] {
    margin-right: 0.5rem;
  }

  /* AssignTo element */
  & .assign-to-container {
    position: relative;
    display: flex;
    flex-direction: column;

    & .dropdown-icon {
      position: absolute;
      right: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    & .checkbox-group__wrapper {
      display: none;
    }

    & .checkbox-group {
      display: flex;
      flex-direction: column;
      max-height: 18rem;
      overflow-y: auto;
      border: 1px solid #ced4da;
      padding: 0.5rem 1rem;
      border-radius: 0.375rem;
      background-color: #fff;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

      position: absolute;
      top: calc(100% + 0.5rem);
      width: 100%;
      z-index: 10;

      & .checkbox-item{
        display: flex;
        align-items: center;
        margin-bottom: 0.7rem;

        & span{
          margin-left: 0.5rem;
          display: inline-block;
          font-weight: 500;
        }
      }
    }
  }

  /* Buttons */
  & button[type="submit"] {
    border: 1px solid #198754;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    color: #198754;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  & button[type="submit"]:hover {
    background-color: #198754;
    color: white;
  }
}

.rotate-180 {
  rotate: 180deg;
  top: 0 !important;
}
