@model List<ListBoardsViewModel>

@section StyleSheets {
    <link rel="stylesheet" href="~/css/boards.css" />
}
@section Scripts {
    <script src="~/js/boards.js"></script>
}

<div class="btn-position-reference">
    <a href="/board/createoneboard?workspaceId=@ViewData["WorkspaceId"]&returnUrl=/board/Index?workspaceId=@ViewData["WorkspaceId"]" id="create-board-button" class="create-board-btn">
    <svg
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 512 512"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
        d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm80 224h-64v64a16 16 0 0 1-32 0v-64h-64a16 16 0 0 1 0-32h64v-64a16 16 0 0 1 32 0v64h64a16 16 0 0 1 0 32z"
        ></path>
    </svg>
    </a>
</div>

@foreach (var item in Model)
{
    <div class="board">
        <h2>@item.Title</h2>
        <a href="/Board/GetDetailsOneBoard?boardId=@item.Id" class="btn"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M444.52 3.52L28.74 195.42c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 51.17 70.36 67.17 92.75 19.19l191.9-415.78c15.99-38.39-25.59-79.97-63.97-63.97z"></path></svg></a>
    </div>
}