@using ProjectManagement.WebApp.Helpers.Identity;

@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole(AppRoles.Admin))
{
    <h2>Admin</h2>
}
else if (User.IsInRole(AppRoles.ProjectManager))
{
    <h2>Project Manager</h2>
}
else if (User.IsInRole(AppRoles.User))
{
    <h2>User</h2>
}
else if (User.IsInRole(AppRoles.ProjectUser))
{
    <h2>Project User</h2>
}
