.workspace__wrapper {
  flex: 48%;
}

.workspace {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;
  border-radius: 1rem;
  padding: 1rem;

  & p {
    margin-block: 0.5rem 2rem;
    letter-spacing: 2px;
    color: black !important;
  }

  & .btn {
    padding: 0.4rem 0.7rem;
    align-self: center;
    text-decoration: none;
    border-radius: 1.5rem;
  }
}
