@{
    ViewData["Title"] = "Workspace Index";
}

@section StyleSheets {
    <link rel="stylesheet" href="~/css/workspace.css">
}

@if (true)
{
    // check workspace number for current user, if any workspace don't assign to the user this page will render here

    <p>There is no assigned workspace for you</p>
}
else
{
    // will render assigned workspace or one more for the user
}