#taskContextMenu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  z-index: 1;
  border-radius: 0.5rem;
  font-family: Arial, sans-serif;
  min-width: 120px;
}

#taskContextMenu ul {
  list-style-type: none;
}

#taskContextMenu ul li {
  padding: 0.4rem 1rem;
  cursor: pointer;
}

#taskContextMenu ul li:hover {
  background-color: #f0f0f0;
}

#taskContextMenu ul li:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.main-content {
  display: grid;
  grid-template-rows: auto 1fr;
  
  & > div:first-child {
    background-color: white;
    border-top: 1px solid #ced4da;
  }
  & > div:nth-child(2) {
    zoom: 80%;
    overflow-x: auto;
  }
}
