@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100%;
}

.main-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

/* main */
.main-content {
  overflow-x: auto;
  background-color: #f0f0f0;
}

/* ---- HEADER  ----- */
header {
  font-weight: 500;
}

.nav-links {
  display: flex;
  justify-content: space-between;

  padding: 0.4rem 3rem;

  & .left-side,
  .right-side {
    display: flex;
  }

  & .item {
    margin-left: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;

    &:hover:not(.page-name) {
      background-color: #e9ecef;
      cursor: pointer;
    }
  }

  & .left-side {
    align-items: center;

    & .item {
      margin-left: 1rem;
    }

    & .page-name {
      font-family: "Edu TAS Beginner", "Montserrat", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.9rem;
      padding-right: 2rem;
      border-right: 1.8px solid #ced4da;
      padding-block: 0.8rem;
      border-radius: 0;
    }

    & a {
      text-decoration: none;
      color: inherit;
    }
  }

  & .right-side {
    align-items: center;

    & svg {
      height: 2.5rem;
      width: 2.5rem;
      color: #6c757d;
    }
  }
}


.dialog{
  padding: 1rem;
  border: 1px solid #6c757d;
}

.dialog-center{
  top: 40%;
  left: 50%;
  translate: -50% -50%;
}

.d-none{
  display: none;
}