<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectManagement.WebApp</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("StyleSheets", required: false)
    <link rel="stylesheet" href="~/ProjectManagement.WebApp.styles.css" asp-append-version="true" />
</head>

<body>

    <div class="main-layout">
        <header>
            @await RenderSectionAsync("NavigationBar",required:true)
        </header>
        <main id="main-content" class="main-content">
            @RenderBody()
        </main>
    </div>


    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

@* @if (User.Identity.IsAuthenticated)
{
<a asp-controller="User" asp-action="Logout" asp-route-returnUrl="/Home/Index">
Logout
</a>
} *@
